{% extends 'template.html.twig' %}
{% block body %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">
{% endblock %}

{% block js %} 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
    const categories = {{ categories|json_encode|raw }};
    const nomsCategories = {{ nomsCategories|json_encode|raw }};

    const ctx = document.getElementById('myChart2').getContext('2d');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: nomsCategories,
            datasets: [{
                label: 'Prix moyen par catégorie',
                data: categories,
                backgroundColor: 'rgba(142, 23, 44, 0.2)',
                borderColor: 'rgba(142, 23, 44, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
});

    </script>
{% endblock %}

{% block AabiElWest %}
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex justify-content-between align-items-center">
                <div>
                    <h6 class="m-0 font-weight-bold text-primary">Variation Moyenne des Prix de Produits Par Catégories</h6>
                </div>
            </div>
            <div class="card-body">
                <canvas id="myChart2" width="200" height="100"></canvas>
            </div>
        </div>
    </div>
{% endblock %}
{% endblock %}