<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Action</th>
    </tr>
    {% for category in categories %}
        <tr>
            <td>{{ category.type }}</td>
            <td>
                <a href="{{ path('CategorieEdit', {'id': category.id}) }}" class="btn btn-primary" style="background-color: #2C8CBC; background-image: linear-gradient(to bottom right, #4DA1CB, #4399C4);">Edit</a>
                <a href="{{ path('CategorieDelete', {'id': category.id}) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this category?')">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>
